.THIS {
}
.THIS .parentTable
    {
       position: relative;
       height: 50px;
       background-color: #cd853f;
       margin-left: 90px;
       margin-top: -100px;
   }
.THIS .chair
    { 
    	display: inline-block;
        width: 24px;
    	height: 24px;
    	border: 1px dashed #060606;
    }

.THIS .firstDiv{
    
    position: relative;
    background-color: #cd853f;
    width: 40px;
    margin: 50px !important;
}
.THIS .thirdDiv{
  	position: relative;
    background-color: #cd853f;
    width: 40px;
}
.THIS .firstDiv ul li {
    position: relative;
    left: -27px;
}
.THIS .thirdDiv ul li {
    position: relative;
    right: -44px;
}
.THIS .parentTable ul li {
    margin-left : 10px;
    margin-top: 55px;
}
.THIS .p{
       font-size :11px;
    text-align: center;
  
}
.THIS .padding{
    margin-top: -6px;
  
}